@page "/"

@using CarJournal.Pages.UserPages.CarPages.Garage

<AuthorizeView Roles="user">
    <Authorized>
        <UserGaragePage/>
    </Authorized>
    <NotAuthorized>
        <MudPaper style="padding: 25px;">
            <MudStack Row="true">
                <MudImage Src="images/prew1_1.png" style="width: 80%" Alt="Swedish Farm House" Elevation="25"
                    Class="rounded-lg ma-4" />
                <h1 style="margin-top: auto; margin-bottom: auto;">Додавай автомобілі які потрібно відстежувати</h1>
            </MudStack>
        </MudPaper>
        <MudDivider style="margin: 25px;"/>
        <MudPaper style="padding: 25px;">
            <MudStack Row="true">
                <h1 style="margin-top: auto; margin-bottom: auto;" >Веди журнал обслуговування автомобіля</h1>
                <MudImage Src="images/prew1_2.png" style="width: 80%" Alt="Swedish Farm House" Elevation="25"
                    Class="rounded-lg ma-4" />
            </MudStack>
        </MudPaper>
        <MudDivider style="margin: 25px;"/>
        <MudPaper style="padding: 25px;">
            <MudStack Row="true">
                <MudImage Src="images/prew1_3.png" style="width: 80%" Alt="Swedish Farm House" Elevation="25"
                    Class="rounded-lg ma-4" />
                <h1 style="margin-top: auto; margin-bottom: auto;" >Контролюй пробіг</h1>
            </MudStack>
        </MudPaper>
        <MudDivider style="margin: 25px;"/>
        <MudPaper style="padding: 25px;">
            <MudStack Row="true">
                <h1 style="margin-top: auto; margin-bottom: auto;" >Помічник для забудькуватих</h1>
                <MudImage Src="images/prew1_4.png" style="width: 80%" Alt="Swedish Farm House" Elevation="25"
                    Class="rounded-lg ma-4" />
            </MudStack>
        </MudPaper>
        <MudDivider style="margin: 25px;"/>
        <MudPaper style="padding: 25px;">
            <MudStack Row="true">
                <MudImage Src="images/prew1_5.png" style="width: 80%" Elevation="25"
                    Class="rounded-lg ma-4" />
                <h1 style="margin-top: auto; margin-bottom: auto;">Дізнавайся про інші автомобілі і читай інструкції до них</h1>
            </MudStack>
        </MudPaper>
    </NotAuthorized>
</AuthorizeView>
