@page "/register"

@using CarJournal.Api.Authentication
@using CarJournal.ClientDtos
@using CarJournal.Services.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@inject IAuthenticationService _authenticationService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IClientAuthenticationService _clientAuthenticationService
@inject NavigationManager _navigationManager

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-4 fw-light fs-5">Register</h5>
            <form>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" @bind="_registerRequest.Email">
                <label for="floatingInputEmail">Email address</label>
              </div>

              <hr>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" @bind="_registerRequest.Password">
                <label for="floatingPassword">Password</label>
              </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password" @bind="_registerRequest.ConfirmPassword">
                <label for="floatingPasswordConfirm">Confirm Password</label>
              </div>

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="button" @onclick="OnRegisterClicked">Register</button>
              </div>

              <a class="d-block text-center mt-2 small" href="login">Have an account? Sign In</a>

              <hr class="my-4">
              <label>@_messageInfo</label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

@code {
  private RegisterDto _registerRequest = new RegisterDto();
  private string _messageInfo = "";

  private async Task OnRegisterClicked()
  {
    try
    {
      var authenticationResult = _authenticationService.Register(_registerRequest.Email, _registerRequest.Password);
      await _clientAuthenticationService.UpdateSessionStorage(authenticationResult.Token);

      _navigationManager.NavigateTo("/");
      _navigationManager.Refresh();
    }
    catch(Exception e)
    {
      _messageInfo = "error: " + e.Message;
    }
  }
}
